@import "./css/keyframes.css";

@tailwind base;
@tailwind components;

/* ///LAYER BASE/// */

@layer base {
  @font-face {
    font-family: 'Sunrise';
    src: url(./fonts/WaitingfortheSunrise-Regular.woff2) format('woff2'),
    url(./fonts/WaitingfortheSunrise-Regular.woff) format('woff');
  }

  @font-face {
    font-family: "Lato";
    src: url("./fonts/Lato-Black.woff2") format("woff2"),
      url("./fonts/Lato-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
  }
  @font-face {
    font-family: "Lato";
    src: url("./fonts/Lato-BlackItalic.woff2") format("woff2"),
      url("./fonts/Lato-BlackItalic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
  }
  @font-face {
    font-family: "Lato";
    src: url("./fonts/Lato-Bold.woff2") format("woff2"),
      url("./fonts/Lato-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "Lato";
    src: url("./fonts/Lato-BoldItalic.woff2") format("woff2"),
      url("./fonts/Lato-BoldItalic.woff") format("woff");
    font-weight: 700;
    font-style: italic;
  }


  @font-face {
    font-family: "Lato";
    src: url("./fonts/Lato-Regular.woff2") format("woff2"),
      url("./fonts/Lato-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Lato";
    src: url("./fonts/Lato-Italic.woff2") format("woff2"),
      url("./fonts/Lato-Italic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
  }


  @font-face {
    font-family: "Lato";
    src: url("./fonts/Lato-Light.woff") format("woff2"),
      url("./fonts/Lato-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "Lato";
    src: url("./fonts/Lato-LightItalic.woff") format("woff2"),
      url("./fonts/Lato-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
  }
  @font-face {
    font-family: "Lato";
    src: url("./fonts/Lato-Thin.woff") format("woff2"),
      url("./fonts/Lato-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
  }
  @font-face {
    font-family: "Lato";
    src: url("./fonts/Lato-ThinItalic.woff") format("woff2"),
      url("./fonts/Lato-ThinItalic.woff") format("woff");
    font-weight: 100;
    font-style: italic;
  }

    :root {
        --primary: 215deg 15% 50%;
        --primarydarker: 215deg 15% 40%;
        --primarydark: 215deg 15% 30%;
        --primarydarkest: 215deg 15% 20%;
        --primarylight: 215deg 15% 80%;
        --accent: 215deg 100% 50%;
        --action: 0deg 100% 48%;
        --shade: 182deg 43% 76%;
        --violet: 228deg 100% 61%;
        --green: 139deg 100% 54%;
    }
    
    html, dialog {
      @apply text-white font-lato;
    }



.scale-gallery {
  transform: scale(4) translateX(37.5%) translateY(37.5%);

}
.scale-laptop {
  transform: scale(1.02);
}

.animate-social > a:first-child > i{
  animation: higher .5s .5s;  
}

.animate-social > a:last-child > i{
  animation: higher .5s 1s;  
}

.scale-gallery-parent:hover > .scale-gallery {

    animation: scrolling 6s alternate infinite ease-in-out;

}

.scale-gallery-parent > .scale-gallery {

  animation: trembling 10s alternate infinite ease-in-out;

}


    
}

/* LAYER COMPONENTS */

@layer components {
  .button {
    @apply block px-8 py-4 mt-8 font-bold transition-all rounded-lg bg-gradient-to-r from-accent/90 to-action/90 hover:from-accent hover:to-action hover:px-9 active:underline;
  }
  .title {
    @apply p-4 mb-4 overflow-hidden whitespace-nowrap animate-[typing_3s_steps(20,end)_forwards] w-0 text-6xl font-bold text-center text-transparent font-sunrise md:text-4xl bg-gradient-to-r from-action to-accent bg-clip-text lg:mt-10 lg:text-6xl md:w-2/3;
  }
  .container {
    @apply flex flex-col items-center justify-center min-h-screen;

  }
  .anchorActive {
    @apply bg-primary-700 [&>a]:font-bold [&>a]:cursor-none;
    }
  .anchorInactive {
    @apply hover:bg-primary-600;
  }
  .hexagon {
    clip-path: polygon(
        50% 0%,
        91% 25%,
        91% 75%,
        50% 100%,
        9% 75%,
        9% 25%
    )
  }

.js__nav-visible {
  @apply right-0 transition-all duration-1000;

}

.js__nav-invisible {
  @apply right-[101vw] transition-all duration-1000;
}

.js__skill_active {
  background-color: hsl(var(--accent))!important;
  color: white;
}

.carousel_container {
  @media (min-width: 1024px) {
  width: 21vw;
  height: 14vw;
  position: relative;
  perspective: 2500px;}
}

.carousel {
  width: 21vw;
  height: 14vw;
  position: absolute;
  transform-style: preserve-3d;
  transform: rotateX(-12deg);
  
}

.carousel_cell {
  position: absolute;
  width: 22vw;
  height: 18vw;
  right: 0%;
  top: 0%;
  transition: all 1s ease-in-out;

  }

.carousel_cell:nth-of-type(1) {
    transform: rotateY(  -5deg) translateZ(22vw);
  }
.carousel_cell:nth-of-type(2) {
  transform: rotateY( -65deg) translateZ(22vw)}
.carousel_cell:nth-of-type(3) {
  transform: rotateY(-125deg) translateZ(22vw)}
.carousel_cell:nth-of-type(4) { transform: rotateY(-185deg) translateZ(22vw)}
.carousel_cell:nth-of-type(5) { transform: rotateY(-245deg) translateZ(22vw)}
.carousel_cell:nth-of-type(6) { transform: rotateY(-305deg) translateZ(22vw)}

}


/*styling elements per id */

.captcha, #id_captcha_1, img.captcha {
  border-radius: .5rem;
  margin-bottom: 1rem;
  width: 95vw;
  @media (min-width: 769px) {
    width: 25rem;
    
  }
}

#div_id_captcha {
  display: none;

}

@tailwind utilities;
@layer utilities {
  .caps {
    font-variant: small-caps;
 
  }
  .rtl {
    direction: rtl;
  }
  
}