
{% extends "portfolio_app/base.html" %}

{% block content %}
<div class="container">
<h1 class="title">About me</h1>
<p class="text-lato">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, repellat rerum. Mollitia fugit nulla dolor molestias debitis numquam aut repudiandae autem, quibusdam in quas cupiditate. Modi laboriosam voluptatibus pariatur quis!
Possimus officia rerum, quis nesciunt laborum ad illum minima maiores sunt libero laboriosam consequatur harum reiciendis deserunt. Commodi optio repellat modi placeat beatae voluptatem, doloribus consectetur alias quaerat, dolores molestiae.
Corporis illum laboriosam dolore magnam nisi perspiciatis odit adipisci non ullam temporibus, id, fuga nihil doloremque assumenda alias libero impedit est. Impedit ipsum quae et dolor, maxime distinctio tenetur aut?</p>
<a class="button" href="/projects">See projects</a>
</div>
{% endblock %}

