{% load static %}
{% load portfolio_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/portfolio_app/output.css">
    <title>Cornelia Petry</title>
</head>
<body>
    <div class="relative flex flex-col items-center justify-center w-screen bg-gradient-to-br from-primarydarkest to-black md:items-start md:justify-start md:flex-row h-min-screen">
    <canvas class="fixed top-0" id="canvas"></canvas>
    <div class="fixed z-50 flex flex-col items-center justify-center w-12 h-12 text-white rounded-full bg-primarydark right-4 top-4 md:hidden">
        <i id="toggleMobileNavIcon" class="fixed text-lg text-center align-middle fa-solid fa-bars"></i>
        </div>
    <nav id="navbar" class="fixed top-0 z-40 w-screen h-screen text-3xl shadow-md md:text-lg font-lato md:sticky md:w-1/4 bg-primary nav-invisible text-background shadow-primary ">
        <ul class="relative flex flex-col items-center justify-center h-screen space-y-12 md:space-y-0 text-center [&>li]:py-6 [&>li]:w-4/5 [&>li]:rounded-lg [&>li]:md:rounded-none [&>li]:md:w-full [&>li:not(:first-child)]:md:flex [&>li]:md:items-center md:justify-start md:items-start [&>li]:md:pr-4">

            <li class="hidden md:block ">
                <a href="/" title="home">
            <div class="bg-gradient-to-r from-accent to-action md:flex md:h-20 md:ml-auto md:w-20 lg:h-24 lg:w-24 md:flex-col md:items-center md:justify-center hexagon">
                <div class="hidden md:block md:h-16 md:w-16 lg:h-20 lg:w-20 md:border-primary/50 md:border-solid md:border-4 hexagon">
            <img src="/static/portfolio_app/images/me.jpeg"/ class="object-contain"></div>
                </div>
            <div>
                <p class="text-2xl text-right font-lato-caps">Cornelia Petry</p>
                <p class="ml-auto text-xl text-right font-lato-caps">Full-Stack Developer</p>

            </div>
            </a>
            </li>
            
            <li class="{{request.path|anchor_color:'/bio/, anchorActive, anchorInactive'}}">
                <a href={% url 'bio' %} class="{{request.path|anchor_color:'/bio/, anchorActive, anchorInactive'}} md:ml-auto">Bio                <i class="hidden md:inline md:ml-6 fa-regular fa-user"></i>
                </a> 
            </li>
        <li class="{{request.path|anchor_color:'/skills/, anchorActive, anchorInactive'}}">
            <a href={% url 'skills' %} class="{{request.path|anchor_color:'/skills/, anchorActive, anchorInactive'}} md:ml-auto ">Skills <i class="hidden md:inline md:ml-6 fa-solid fa-book"></i></a>
            
        </li>
            <li class="{{request.path|anchor_color:'/projects/, anchorActive, anchorInactive'}}">
                <a href={% url 'projects' %} class="{{request.path|anchor_color:'/projects/, anchorActive, anchorInactive'}} md:ml-auto">Projects                 <i class="hidden md:inline md:ml-6 fa-solid fa-th"></i>
                </a>
            </li>
            <li class="{{request.path|anchor_color:'/contact/, anchorActive, anchorInactive'}}">
                <a href={% url 'contact' %} class="{{request.path|anchor_color:'/contact/, anchorActive, anchorInactive'}} md:ml-auto ">Contact <i class="hidden md:inline md:ml-6 fa-solid fa-envelope"></i></a>
                
            </li>
        </ul>
    </nav>

    <div class="relative min-h-screen lg:p-4 md:mt-0 md:flex md:flex-col md:justify-start md:items-start md:bg-transparent md:w-screen md:min-h-screen" id="content">
        {% block content %}{% endblock %}
    </div>
     
        <div class="top-0 hidden right-4 md:absolute md:flex animate-social">
            <a href="https://www.linkedin.com/m/in/cpetry/"><i class="w-12 p-2 mx-2 text-3xl text-center text-white hover:pt-8 rounded-b-md bg-linkedinblue fa-brands fa-linkedin-in"></i></a>
          <a href="https://github.com/gros-pataplouf"><i class="w-12 p-2 mx-2 text-3xl text-white rounded-b-md bg-primary hover:pt-8 fa-brands fa-github"></i></a>
        </div>

        
    <div id="js__scroll_up" class="fixed flex-col items-center justify-center hidden w-12 h-12 rounded-full bottom-6 right-4 bg-gradient-to-br from-violet to-green"><i class="text-2xl text-white fa-solid fa-arrow-up"></i></div>
        
    </div>
    
<script src="/static/portfolio_app/index.js" defer type="module"></script>

</body>
</html>
