{% load static %}
{% load portfolio_extras %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static "fontawesomefree/css/fontawesome.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "fontawesomefree/css/brands.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "fontawesomefree/css/solid.css" %}" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/svg+xml" href={% static "portfolio_app/images/favicon.ico" %} />
    <link rel="stylesheet" href="{% static 'portfolio_app/output.css' %}">
    <title>Cornelia Petry</title>
</head>
<body>
    <div class="relative flex flex-col md:block items-center justify-center w-screen bg-gradient-to-br from-primary-800 to-black md:items-start md:justify-start md:flex-row h-min-screen">
    <canvas class="fixed top-0" id="canvas"></canvas>
    <div class="fixed z-50 flex flex-col items-center justify-center rounded-full w-14 h-14 bg-primary-700 right-4 top-4 md:hidden">
        <i id="toggleMobileNavIcon" class="fixed text-4xl text-center align-middle fa-solid fa-bars"></i>
    </div>
    <nav 
    id="navbar"
    class="js__nav-invisible fixed bg-primary-500 top-0 md:top-4 z-30 w-screen h-screen md:h-16 text-3xl md:bg-transparent md:text-lg 2xl:text-2xl 2xl:mt-10">
        <ul class="relative flex flex-col md:border-2 justify-center text-center items-center h-screen space-y-4 
        [&>li]:navbar-item
        md:bg-primary-500 md:shadow-primary md:border-white md:mx-auto md:my-auto md:h-fit md:flex-row md:shadow-md md:justify-around md:w-2/3 md:space-y-0 md:rounded-lg ">
        <li class="{{request.path|anchor_color:'/, anchorActive, anchorInactive'}}">
            <a href="/" class="px-2" title="{% trans 'Home' %}">
                <i class="fa-solid fa-house"></i>
           </a>
           <span class="js__language-switcher px-2 md:hidden" data="en">en</span>
           <span class="js__language-switcher px-2 md:hidden" data="de">de</span>
           <span class="js__language-switcher px-2 md:hidden" data="fr">fr</span>
        </li>

        <li class="{{request.path|anchor_color:'/bio/, anchorActive, anchorInactive'}}">
            <a href={% url 'bio' %} title="{% trans 'Bio' %}" class="{{request.path|anchor_color:'/bio/, anchorActive, anchorInactive'}} md:ml-auto">{% trans "Bio" %}
            </a> 
        </li>
            <li class="{{request.path|anchor_color:'/skills/, anchorActive, anchorInactive'}}">
                <a href={% url 'skills' %} title="{% trans 'Skills' %}" class="{{request.path|anchor_color:'/skills/, anchorActive, anchorInactive'}} md:ml-auto ">{% trans "Skills" %} 
                </a>
            </li>
            <li class="{{request.path|anchor_color:'/projects/, anchorActive, anchorInactive'}}">
                <a href={% url 'projects' %} title="{% trans 'Projects' %}" class="{{request.path|anchor_color:'/projects/, anchorActive, anchorInactive'}} md:ml-auto">{% trans "Projects" %}
                </a>
            </li>
            <li class="anchorInactive hidden md:flex justify-evenly">
                <button title="{% trans 'Switch to English' %}">
                    <img data="en" class="js__language-switcher h-10 md:h-6 border-transparent hover:border-white border-2 rounded-md" src={% static "portfolio_app/icons/en.svg" %}></img>
                </button>
                <button title="{% trans 'Switch to German' %}">
                    <img data="de" class="js__language-switcher h-10 md:h-6 border-transparent hover:border-white border-2 rounded-md" src={% static "portfolio_app/icons/de.svg" %}></img>
                </button>
                <button title="{% trans 'Switch to French' %}">
                    <img data="fr" class="js__language-switcher h-10 md:h-6 border-transparent hover:border-white border-2 rounded-md" src={% static "portfolio_app/icons/fr.svg" %}></img>
                </button>
            </li>
            <li class="{{request.path|anchor_color:'/contact/, anchorActive, anchorInactive'}}">
                <a href={% url 'contact' %} title="{% trans 'Contact' %}" class="{{request.path|anchor_color:'/contact/, anchorActive, anchorInactive'}} md:ml-auto ">
                    <span class="hidden md:inline">{% trans "Contact" %}</span>
                    <i 
                    class="w-12 p-2 mx-2 text-3xl rounded-md md:p-0 md:w-min md:mr-0 bg-action md:hidden md:bg-transparent md:text-lg md:ml-6 fa-solid fa-envelope"></i>
                </a>
                <a title="Linkedin" href="https://www.linkedin.com/m/in/cpetry/" class="md:hidden"><i class="w-12 p-2 mx-2 text-3xl text-center rounded-md bg-[#0077B5] fa-brands fa-linkedin-in"></i></a>
                <a title="Github" href="https://github.com/gros-pataplouf" class="md:hidden"><i class="w-12 p-2 mx-2 text-3xl rounded-md bg-primary-800 fa-brands fa-github"></i></a>
                <a title="{% trans 'Call me' %}" href="tel:+49160xxxxxxx" class="md:hidden"><i 
                    class="w-12 p-2 mx-2 text-3xl rounded-md bg-[#04F404] fa-solid fa-phone"></i>
            </a>
            </li>
        </ul>
    </nav>

    <div class="relative min-h-screen md:p-4 lg:pt-8 md:flex md:flex-col md:items-center md:bg-transparent md:w-screen md:min-h-screen" id="content">
        {% block content %}{% endblock %}
    </div>
    
    <div class="right-0 hidden top-60 md:flex fixed flex-col ml-auto justify-end items-end space-y-4 w-min animate-social">
        <a title="Linkedin" href="https://www.linkedin.com/m/in/cpetry/"><i class="w-12 p-2 text-3xl text-center hover:pr-12 hover:w-16 rounded-l-md bg-[#0077B5] fa-brands fa-linkedin-in"></i></a>
        <a title="Github" href="https://github.com/gros-pataplouf"><i class="w-12 p-2 text-3xl rounded-l-md bg-primary hover:pr-12 hover:w-16 fa-brands fa-github"></i></a>
        <a title="{% trans 'Send me an email' %}" href="mailto:copedev@pm.me"><i 
            class="w-12 p-2 text-3xl rounded-l-md hover:pr-12 hover:w-16 bg-action  fa-solid fa-envelope"></i>
    </a>
    <a title="{% trans 'Call me' %}" href="tel:+49160xxxxx"><i 
        class="w-12 p-2 text-3xl rounded-l-md hover:pr-12 hover:w-16 bg-[#04F404] fa-solid fa-phone"></i>
</a>
    </div>
    <div id="js__scroll_up" class="fixed flex-col items-center justify-center hidden w-12 h-12 rounded-full bottom-6 right-4 bg-gradient-to-br from-violet to-green"><i class="text-2xl fa-solid fa-arrow-up"></i></div>
    </div>
    
<script src={% static 'portfolio_app/index.js' %} defer type="module"></script>

</body>
</html>
