{% extends "portfolio_app/base.html" %}
{% load portfolio_extras %}
{% load i18n %}
{% block content %}
<div class="container flex flex-col justify-start min-h-screen mb-auto 2xl:mt-24 2xl:mb-6 2xl:w-1/2">
    <!-- subpage title -->
    <div class="flex flex-col lg:flex-row mt-16 pb-4 max-w-screen justify-start items-center">
        <h1 class="text-terminal lg:block title">~/bio:$&nbsp;</h1>
        <h1 class="title typing text-center">{% trans 'Who I am' %}
        </h1>
    </div>
        <!-- the current version only features one bio section and no timeline.
    code for timeline can be found in commit 2535f74-->
    <div class="relative p-4 flex flex-col w-full h-full bg-transparent">
        <div class="w-full h-full flex justify-center items-center">
            <div class="space-y-4 lg:w-4/5 lg:space-y-12 text-lg">
                <div class="flex justify-center items-center">
                <h2 class="text-center text-2xl mx-auto"> {% trans "I'm a self-taught programmer" %} <br/> {% trans 'and passionnate problem-solver.' %}</h2>
                </div>
                <div class="p-1 w-full rounded-lg bg-gradient-to-br from-accent to-green">
                    <div class="w-full h-full p-6 bg-black rounded-lg">
                    <h3 class="text-xl font-bold lg:mb-4"><i class="fa-solid fa-lightbulb text-yellow-100"></i>&nbsp; {% trans 'Curiosity, languages and code spark joy.' %}</h3> 
                <p>{% trans "Structures and patterns of natural and programming languages have been my livelong passion. I still remember the thrill I felt solving the newspaper's cryptogram puzzle in my head as a little child, a fascination that came back when I took up Python during the pandemic. Yet, my desire to build bridges between people and cultures made me study French and Italian. After 6 years as a teacher in the French school system, I decided to take a sabbatical and work and live in Ireland. When I came back from Ireland, going back to my teaching career was not an option: there was so much more to learn and to discover." %} </p>
                </div>
                </div>
                <div class="p-1 w-full rounded-lg bg-gradient-to-br from-green to-action">
                    <div class="w-full h-full p-6 bg-black rounded-lg">
                    <h3 class="text-xl font-bold lg:mb-4"><i class="fa-solid text-red-800 fa-heart animate-pulse"></i> &nbsp; {% trans "I love helping people solve problems." %}</h3>
                <p>{% trans "Back to the Swiss-French border region, I got closer to technology by working for a Technical and Medical Assistance provider. While working the phone lines in four languages to get Swiss customers in emergency situation safely home, I also learned HTML and CSS to help agents with a clickable decision trees for the browser-based softphone. Today, I'm responsible for optimizing, documenting and developing new features for a phone system with 400+ users and 300+ incoming lines. Whatever I do is focused on helping the customer, end-users and team-members."%}</p>
            </div>    
            </div>
                <div class="p-1 w-full rounded-lg bg-gradient-to-br from-action to-accent">
                <div class="w-full h-full p-6 bg-black rounded-lg">
                <h3 class="text-xl font-bold lg:mb-4"><i class="fa-solid fa-people-group text-sky-200"></i> &nbsp; {% trans "Community matters." %}</h3> 
                <p>{% trans "As a self-taught developer, I have found a vital and supportive network in the tech community. Local React meetups as well as pair programming and practising TDD with Ladies of Code London have been an important for feedback and a change of perspective. I'm giving back to the community by volunteering and currently searching for occasions to Open Source projects with Django." %}
                </p>
                </div>
                <div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}