
{% extends "portfolio_app/base.html" %}

{% block content %}
<h3>Education</h3>


{% for entry in education %}
    <h2 class="bg-primary">{{ entry.name }}</h2>
    <h3 class="bg-accent">{{ entry.school }}</h3>
    <p class="bg-background">{{entry.start_date}} - {%if entry.end_date %} <span>{{entry.end_date}} </span>  {% else %}  <span>now</span>  {% endif %}</p>
    <h3 class="bg-text">Skills</h3>
    <ul>
    {% for skill in entry.skills.all %}
    <li class="bg-action">{{skill}}</li>
    {% endfor %}
    </ul>



{% endfor %}

{% endblock %}

