{% extends "portfolio_app/base.html" %}

{% block content %}

<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere unde vitae aperiam numquam vero, excepturi dolores fugit quisquam illum corporis culpa qui ea odio quasi quos, nam nulla totam esse!
Nemo dolorum placeat consectetur quas autem nihil distinctio beatae eaque deserunt laborum? Veniam dolorem quo facere, quas reiciendis doloribus, accusamus ab hic, itaque fuga odit. Eligendi assumenda laudantium quibusdam exercitationem!</div>

<a href="/projects">See projects</a>

{% endblock %}