
{% extends "portfolio_app/base.html" %}
{% load static %}

{% block content %}
    <h1 class="mb-4 text-2xl font-bold title md:text-3xl lg:mt-10 lg:text-6xl text-primarydark md:w-2/3">Portfolio</h1>
    <p class="lg:text-xl text-primarydark">Check out my latest and ongoing web development projects.</p>

    <ul class="flex flex-wrap">
        {% for skill in skills %}
        <a href="#"><li class="px-2 mt-2 mr-2 rounded-md bg-primary hover:bg-primarydark active:bg-action hover:text-white text-white/90 js__skill">{{skill.name}}</li></a>
        {% endfor %}
    </ul>

    <div class="flex flex-col w-full mt-8 lg:flex-wrap lg:flex-row lg:flex-grow lg:basis-1/2">
<!-- 87,34---1110/690
1186*796
1023 breit
656 hoch -->
    {% for entry in projects %}

    <div class="p-2 mb-6 bg-white rounded-md shadow-lg js__project md:w-2/3 md:mx-auto lg:w-2/5 lg:m-8">
    <h2 class="mt-6 text-xl font-bold md:text-3xl text-primary">{{ entry.name }} 
        <a href={{entry.github}}><i class="mx-4 text-3xl md:text-3xl fa-brands fa-github-square text-primary"></i></a>
    </h2>
    {% if entry.deployment %}
    <a class="block mb-2"href={{ entry.deployment }}>Live Demo</a>
    {% endif %}
    {% if entry.image %}
    <div class="h-4/5 overflow-clip">
        <div class="relative h-4/5 scale-gallery-parent">
            
                <img src={{entry.image}} class="absolute top-0 left-0 inline-block scale-gallery" alt="">
            
                <img src="/static/portfolio_app/laptop.png" alt="" class="absolute inline-block">


        </div>
    </div>
    {% endif %}
    {{entry.description}}
    <ul class="flex flex-wrap mb-2 mr-2">
        {% for skill in entry.skills.all %}
        <li class="px-2 mt-2 mr-2 rounded-md bg-shade js__project_skill">{{skill}}</li>
        {% endfor %}
    </ul>
    
</div>
    {% endfor %}
</div>

{% endblock %}

