
{% extends "portfolio_app/base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h1 class="title">Portfolio</h1>
    <p class="text-lato">Check out my latest and ongoing web development projects.</p>

    <ul class="flex flex-wrap">
        {% for skill in skills %}
        <a href="#"><li class="px-2 mt-2 mr-2 rounded-md bg-primary hover:bg-primarydark active:bg-action hover:text-white text-white/90 js__skill">{{skill.name}}</li></a>
        {% endfor %}
    </ul>
    <div class="flex flex-col w-full mt-8 lg:flex-wrap lg:flex-row lg:justify-between lg:items-stretch">

    {% for entry in projects %}

    <div class="p-4 my-2 mx-0 space-y-2 border-2 border-primarylight/20 border-solid bg-white rounded-md shadow-2xl js__project lg:w-[48%]">
    <h2 class="text-xl font-bold md:text-3xl text-primarydark">{{ entry.name }} 
    </h2>
    {% if entry.deployment %}
    <a class="block mb-2 text-lg font-bold text-action hover:underline"href={{ entry.deployment }}>Live Demo</a>
    {% endif %}
    <a class="block mb-2 text-lg font-bold text-primarydark hover:underline" href={{entry.github}}>See code</a>
    {% if entry.image %}
    <div class="my-4 bg-white overflow-clip">
        <div class="relative scale-gallery-parent">
                <img src={{entry.image}} class="absolute block scale-gallery" alt="">
                <img src="/static/portfolio_app/laptop.png" alt="" class="relative block scale-laptop">



        </div>
    </div>
    {% endif %}
    <p class="block mb-2 text-lg font-bold text-primarydark">{{entry.description}}</p>
    
    <ul class="flex flex-wrap mb-2 mr-2">
        {% for skill in entry.skills.all %}
        <li class="px-2 mt-2 mr-2 text-white rounded-md bg-primarydark js__project_skill">{{skill}}</li>
        {% endfor %}
    </ul>
    
</div>
    {% endfor %}
</div>
</div>

{% endblock %}

