{% extends "portfolio_app/base.html" %}
{% load portfolio_extras %}

{% block content %}

<div class="">
    <h1 class="title">Skills</h1>
    {% regroup skills by skill_type as skill_list %}
    <button id="js__spin_carousel">spin</button>

    <div class="carousel_container">
        <div class="carousel">
            {% for skill_type in  skill_list%}
            <section class="w-72 h-72 carousel_cell">
                <div>
                    <h2 class="text-xl font-bold md:text-3xl text-primary">{{skill_type.grouper|title}}</h2>

                    {% for entry in skill_type.list %}
                        <p class="my-2 font-bold text-accent">{{ entry.name }}
                        </p>
                    {% endfor %}

                </div>
            </section>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}

