@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    :root {
        --primary: 215deg 15% 50%;
        --primarydarker: 215deg 15% 40%;
        --primarydark: 215deg 15% 30%;
        --primarydarkest: 215deg 15% 20%;
        --primarylight: 215deg 15% 80%;
        --accent: 215deg 100% 50%;
        --accent_old: 355deg 78% 56%;
        --lightaccent: 355deg 78% 80%;
        --background: 105deg 55% 96%;
        --text: 216deg 34% 15%;
        --action: 0deg 100% 48%;
        --shade: 182deg 43% 76%;
        --violet: 228deg 100% 61%;
        --green: 139deg 100% 54%;
        --linkedinblue: 210deg 90% 40%;
    }


    @font-face {
      font-family: 'Sunrise';
      src: url(./fonts/WaitingfortheSunrise-Regular.woff2) format('woff2');
    }
    
    
    @font-face {
      font-family: 'Sunrise';
      src: url(./fonts/WaitingfortheSunrise-Regular.woff) format('woff');
    }
    
    @font-face {
      font-family: "Roboto";
      src: url("./fonts/roboto-regular-webfont.woff2") format("woff2"),
        url("./fonts/roboto-regular-webfont.woff") format("woff");
      font-weight: 400;
      font-style: normal;
    }

    @font-face {
      font-family: "Lato";
      src: url("./fonts/Lato-Regular.woff2") format("woff2"),
        url("./fonts/Lato-Regular.woff") format("woff");
      font-weight: 400;
      font-style: normal;
    }
    @font-face {
      font-family: "LatoLight";
      src: url("./fonts/Lato-Light.woff") format("woff2"),
        url("./fonts/Lato-Light.woff") format("woff");
      font-weight: 100;
      font-style: normal;
    }
    
body {
  font-family: Roboto;
}


.font-lato-caps {
  font-family: Lato;
  font-variant: small-caps;

}

.font-lato {
  font-family: Lato;

}

.font-lato-light {
  font-family: LatoLight;

}

.scale-gallery {
  transform: scale(4) translateX(37.5%) translateY(37.5%);

}
.scale-laptop {
  transform: scale(1.02);
}

.animate-social > a:first-child > i{
  animation: higher .5s .5s;  
}

.animate-social > a:last-child > i{
  animation: higher .5s 1s;  
}

.scale-gallery-parent:hover > .scale-gallery {

    animation: scrolling 6s alternate infinite ease-in-out;

}

.scale-gallery-parent > .scale-gallery {

  animation: trembling 10s alternate infinite ease-in-out;

}


    
}

@keyframes higher {
  50% {
    padding-top: 2rem;
  }

}

@keyframes trembling {
  0% {
    transform: scale(4) translateX(37.5%) translateY(37.5%);

  }
  100% {
    transform: scale(4) translateX(37.51%) translateY(37.5%);

  }}

@keyframes scrolling {
  0% {
    transform: scale(4) translateX(37.5%) translateY(37.5%);

  }
  10% {
    transform: scale(4) translateX(37.5%) translateY(37.5%);
  }
  35% {
    transform: scale(4) translateX(12.5%) translateY(37.5%);
  }
  45% {
    transform: scale(4) translateX(12.5%) translateY(37.5%);
  }

  65% {
    transform: scale(4) translateX(-12.5%) translateY(37.5%);
  }

  75% {
    transform: scale(4) translateX(-12.5%) translateY(37.5%);
  }

  90% {
    transform: scale(4) translateX(-37.5%) translateY(37.5%);

  }


  100% {
    transform: scale(4) translateX(-37.5%) translateY(37.5%);

  }
  
}
@layer components {
  .button {
    @apply block px-8 py-4 mt-8 font-bold text-white transition-all rounded-lg bg-gradient-to-r from-accent/90 to-action/90 hover:from-accent hover:to-action hover:px-9 active:underline;
  }
  .title {
    @apply p-4 mb-4 text-6xl font-bold text-center text-transparent md:text-4xl bg-gradient-to-r from-action to-accent bg-clip-text lg:mt-10 lg:text-6xl md:w-2/3;
    font-family: Sunrise;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3s steps(20, end) forwards;
    width: 0;
  }

  .title-delay {
    @apply p-0 m-0 text-4xl title bg-gradient-to-r from-violet to-green;
    animation-delay: 3s;
  }

  .text-lato {
    @apply   p-4 text-lg font-bold text-center text-white;
    font-family: Lato;

  }



  .container {
    @apply flex flex-col items-center justify-center min-h-screen;

  }

    .anchorActive {
      background-color: hsl(var(--primarydark));
        /* @apply lg:fixed lg:bg-primary lg:right-4 lg:bg-contain lg:border-primary/50 lg:h-40 lg:w-40 lg:p-10 lg:flex lg:flex-col lg:items-center lg:justify-center hexagon; */
        &>a {
          @apply font-bold;
          cursor:none;
        }
    }

    .anchorInactive {


        /* @apply lg:fixed lg:bg-primarydark lg:right-4 lg:bg-contain lg:border-primary/50 lg:h-40 lg:w-40 lg:p-10 bg-primary lg:flex lg:flex-col lg:items-center lg:justify-center hexagon; */
        &:hover {
            background-color: hsl(var(--primarydarker));
        }
      }

    .hexagon {
      clip-path: polygon(
          50% 0%,
          91% 25%,
          91% 75%,
          50% 100%,
          9% 75%,
          9% 25%
      );

    }




      @keyframes typing {
        from { width: 0 }
        to { width: 100%;
         }
      }

}

.nav-visible {
  right: 0;
  transition-property: all;
  transition-duration: 1s;



}
.nav-invisible {
  right: 100vh;
  transition-property: all;
  transition-duration: 2s;
}

.js__skill_active {
  background-color: hsl(var(--accent))!important;
  color: whitesmoke;
}

.send_button_1 {
  -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);

}


@media (min-width: 1024px) {
  .carousel_container {
    width: 21vw;
    height: 14vw;
    position: relative;
    perspective: 2500px;
  }
  
  
  .carousel {
    width: 21vw;
    height: 14vw;
    position: absolute;
    transform-style: preserve-3d;
    transform: rotateX(-12deg);
    
  }
  
  .carousel_cell {
    position: absolute;
    width: 22vw;
    height: 18vw;
    right: 0%;
    top: 0%;
    transition: transform 1s ease-in-out;
  
    }
  
  .carousel_cell:nth-of-type(1) {
      transform: rotateY(  -5deg) translateZ(22vw);
    }
  .carousel_cell:nth-of-type(2) {
    transform: rotateY( -65deg) translateZ(22vw)}
  .carousel_cell:nth-of-type(3) {
    transform: rotateY(-125deg) translateZ(22vw)}
  .carousel_cell:nth-of-type(4) { transform: rotateY(-185deg) translateZ(22vw)}
  .carousel_cell:nth-of-type(5) { transform: rotateY(-245deg) translateZ(22vw)}
  .carousel_cell:nth-of-type(6) { transform: rotateY(-305deg) translateZ(22vw)}
  
}

.rtl {
  direction: rtl;
  /* text-align: left; */
  list-style-position: outside;
  margin-right: 1rem;
}

.captcha, #id_captcha_1 {
  border-radius: .5rem;
  margin-bottom: 1rem;
}
img.captcha {
  width: 25rem;
}


#div_id_captcha {
  display: none;

}