
@keyframes spinslowly {
 
  100% {
    transform: rotate(360deg);
}


}
.animate-spinslowly {
  animation: spinslowly 3s linear infinite;
}

@keyframes flashing {

  from {
    display: none;
  }
  to {
    display: block;
  }
}


.animate-flashing {
  animation: flashing 2s linear;
}


@keyframes typing {
  from {
    width: 0;
    max-width: fit-content;}
  to {
    width: 100%;
    max-width: fit-content;
   }
}

@keyframes higher {
    50% {
      width: 100px;
      padding-right: 50px;
    }
  
  }
  
@keyframes trembling {
  0% {
    transform: scale(4) translateX(37.5%) translateY(37.5%);

  }
  100% {
    transform: scale(4) translateX(37.51%) translateY(37.5%);

  }}

@keyframes scrolling {
  0% {
    transform: scale(4) translateX(37.5%) translateY(37.5%);
  }
  10% {
    transform: scale(4) translateX(37.5%) translateY(37.5%);
  }
  35% {
    transform: scale(4) translateX(12.5%) translateY(37.5%);
  }
  45% {
    transform: scale(4) translateX(12.5%) translateY(37.5%);
  }
  65% {
    transform: scale(4) translateX(-12.5%) translateY(37.5%);
  }
  75% {
    transform: scale(4) translateX(-12.5%) translateY(37.5%);
  }
  90% {
    transform: scale(4) translateX(-37.5%) translateY(37.5%);
  }
  100% {
    transform: scale(4) translateX(-37.5%) translateY(37.5%);
  }
}


@keyframes flyin {
  0% {
      transform: translate3d(-100px, 100px, 0);
      scale: 0;
      opacity: 0.3;
  }
}


.animate-flyin {
  @media screen and (min-width: 1024px) {
    animation: flyin 1s ease-in-out;
  }

}
